<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ dir_name }}</title>
</head>
<body>
    <div class="container">
        <h1>{{ dir_name}}</h1>
        <ul>
            <li><a href="">Back</a></li>
            {% for file in dir_list: %}
            <li><a href="">{{ file }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>